li {
    width: 600px;
    min-height: 100px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    list-style: none;
  }
  
